.verify-container {
  height: 100vh;
  width: 100%;
  background: rgb(195, 195, 195);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.verify-card {
  background: rgb(45, 44, 44);
  width: 380px;
  padding: 35px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #fff;
}

.verify-card h2 {
  text-align: center;
  margin: 0;
  font-size: 28px;
  font-weight: 600;
}

.subtitle {
  text-align: center;
  font-size: 18px;
  opacity: 0.8;
  margin-top: -10px;
}

.input-group {
  position: relative;
}

.input-field {
  width: 100%;
  padding: 14px;
  padding-left: 45px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: black;
  outline: none;
  transition: 0.3s;
}

.input-field:focus {
  background: rgba(255, 255, 255, 0.3);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 14px;
  font-size: 18px;
  opacity: 0.8;
}

.verify-btn {
  padding: 14px;
  width: 100%;
  font-size: 17px;
  font-weight: 600;
  background: #fff;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.verify-btn:hover {
  background: #e8e8e8;
}

.spam-text {
  text-align: center;
  font-size: 14px;
  opacity: 0.9;
}

.resend-otp{
  text-align: center;
}

