.blogPage {
  margin-top: 5rem;
}

.blog-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.blog-button .blog-btn {
  padding: 0.3rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  background: none;
  border: none;
}

.blog-button .blog-btn.active {
  background-color: black;
  color: white;
}

.blogCard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
  padding: 2rem;
  max-width: 1500px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
  height: 100%;
  cursor: pointer;
}

.blog-img {
  width: 100%;
  height: 200px;            
  overflow: hidden;
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;        
  transition: transform 0.4s ease;
}

.blog-img img:hover {
  transform: scale(1.08);
}

.card-content {
  flex: 1;
}

.blog-category h2 {
  margin: 0.8rem 0.5rem 0;
  font-size: 14px;
  font-weight: 400;
  background: black;
  color: white;
  padding: 0.2rem 0.5rem;
  width: fit-content;
}

.blog-title h1 {
  margin: 0.8rem 0.5rem;
  font-size: 18px;
  font-weight: 600;
}

.blog-description.markdown {
  padding: 0 0.6rem;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  opacity: 0.85;
}

.Read-more {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0.6rem;
  background: transparent;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.Read-more img {
  width: 18px;
}

@media (max-width: 900px) {
  .blog-button {
    overflow-x: auto;
    white-space: nowrap;
    justify-content: flex-start;
    padding: 0;
    gap: 0.2rem;
  }

  .blog-button::-webkit-scrollbar{
    display: none;
  }

  .blogCard {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    margin-top: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .blog-img {
    height: 160px;   
  }
}
