@font-face {
  font-family: bold;
  src: url('../../../AeonikTRIAL-Bold.otf');
}

:root {
  --table-cols: 90px 2fr 1.2fr 1.2fr 1.4fr;
}

.dashboard {
  width: 100%;
  min-height: 90vh;
}

.main-area {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.topbar h2 {
  font-size: 2rem;
  font-family: bold;
}

.topbar p {
  color: #555;
}


.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.stat-card {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 5px 25px rgba(0,0,0,0.08);
}

.stat-card h3 {
  font-size: 2rem;
}

.stat-card p {
  color: #555;
}

.table-box {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.08);
}

.table-box ::-webkit-scrollbar{
  display: none;
}

.table-title h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.Table-format {
  max-height: 45vh;
  overflow: auto;
}


.table-header,
.table-row {
  display: grid;
  grid-template-columns: var(--table-cols);
  align-items: center;
  
}

.table-header {
  font-weight: bold;
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 2px solid #eee;
  padding-bottom: 0.8rem;
  z-index: 10;
}

.table-row {
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
}

.table-row:hover {
  background: #f8f8f8;
}

.table-row img {
  width: 85px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}

.Category {
  font-family: bold;
}


.modification-btn {
  display: flex;
  gap: 0.5rem;
}

.modification-btn button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.85rem;
}

.create {
  background: rgb(70, 70, 186);
}

.delete {
  background: rgb(227, 52, 52);
}

@media (max-width: 900px) {

  .main-area {
    padding: 1.5rem;
  }

  .stats-grid {
    grid-template-columns: 1fr;
  }

  :root {
    --table-cols: 90px 240px 140px 150px 180px;
  }

  

  .table-header,
  .table-row {
    min-width: 800px;
  }
}
