@font-face {
  font-family: bold;
  src: url('../../../AeonikTRIAL-Bold.otf');
}
.dashboard {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: #f3f3f3;
}

.main-area {
  flex: 1;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.topbar h2 {
  font-size: 2rem;
  font-weight: 600;
  font-family: bold;
}

.topbar p {
  font-size: 1rem;
  color: #555;
  margin-top: 4px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.stat-card {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 5px 25px rgba(0,0,0,0.08);
  transition: 0.25s;
}


.stat-card h3 {
  font-size: 2rem;
  color: black;
  margin-bottom: 6px;
}

.stat-card p {
  color: #555;
  font-size: 1rem;
  font-weight: 500;
}
.Table-format{
  margin-top: 2vh;
  height: 45vh;
  overflow: scroll;
}

.Table-format::-webkit-scrollbar{
  display: none;
}

.table-box {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.08);
}

.table-title h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.table-header {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 0.7fr 1.62fr 1fr 1fr 0.7fr;
  font-weight: bold;
  font-size: 1.05rem;
  padding-bottom: 0.8rem;
}

.table-row {
  display: grid;
  grid-template-columns: 0.7fr 1.62fr 1fr 1fr 0.7fr;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  align-items: center;
  transition: 0.2s;
}

.table-row img {
  width: 85px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}

.table-row .Category{
  font-family: bold;
}

.modification-btn{
  display: flex;
  gap: 0.2rem;
}
.modification-btn .create{
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(70, 70, 186);
  color: #fff;
  cursor: pointer;
}
.modification-btn .delete{
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(227, 52, 52);
  color: #fff;
  cursor: pointer;
}