/* MAIN WRAPPER */
.update-wrapper {
  display: flex;
  width: 100%;
  min-height: 90vh;
  
  background: #f3f3f3;
}

.left-panel {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-panel img {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
  height: 80%;
  object-fit: cover;
}

/* RIGHT PANEL */
.right-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* FORM CARD */
.update-card {
  width:100%;
  max-width: 650px;
  background: white;
  padding: 2rem 2.2rem;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.update-card h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}

/* FORM GROUP */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form-group label {
  font-size: 0.9rem;
  color: #555;
  font-weight: 600;
}

/* INPUT FIELDS */
.form-group input,
.form-group select,
.form-group textarea {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fafafa;
  font-size: 1rem;
  outline: none;
  transition: 0.2s;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #000;
  background: #fff;
}

/* UPDATE BUTTON */
.update-btn {
  width: 100%;
  padding: 13px;
  border-radius: 10px;
  background: black;
  color: white;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 18px;
  transition: 0.2s ease-in-out;
}

.update-btn:hover {
  background: #333;
  transform: translateY(-2px);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .update-wrapper {
    flex-direction: column;
  }

  .left-panel {
    height: 300px;
  }

  .right-panel {
    padding: 1rem;
  }
}
