.createBlogPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

/* CARD UI */
.create-container {
  width: 450px;
  background: #fff;
  padding: 2rem 2.2rem;
  border-radius: 16px;
  box-shadow: 0 6px 25px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.create-container h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: 600;
}

/* FORM GROUP */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form-group label {
  font-size: 0.95rem;
  font-weight: 600;
  color: #333;
}

/* Inputs */
.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
  outline: none;
  transition: 0.2s;
  background: #fafafa;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #000;
  background: #fff;
}

/* Image Preview */
.preview-img {
  width: 120px;
  height: 120px;
  margin-top: 8px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 14px rgba(0,0,0,0.18);
}

/* Submit Button */
.create-btn {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border-radius: 10px;
  background: #000;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.2s;
}

.create-btn:hover {
  transform: translateY(-2px);
  background: #333;
}

.ai-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 1rem;
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 0.95rem;
  font-weight: 600;
  color: white;
  background: linear-gradient(135deg, #4f46e5, #7c3aed);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s ease;
  
}

@media (max-width:420px){
  .createBlogPage{
    padding: 1rem;
  }
  
}