@font-face {
    font-family: bold;
    src: url('../../../AeonikTRIAL-Bold.otf');
}

@font-face {
    font-family: regular;
    src: url('../../../AeonikTRIAL-Regular.otf');
}

.BLogDetail{
    width:100%;
}

.BLogDetail .blog-title{
    width:100%;
    display:flex;
    justify-content:center;
    text-align:center;
}

.BLogDetail .blog-title h1{
    font-size:2.2rem;
    margin-top:1.5rem;
    width:45%;
    font-weight:900;
    font-family: bold;
}

.BLogDetail .Blog-info{
    height: 50vh;
    background-color:#E5E7EB;
}

.BLogDetail .blog-profilePic{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.BLogDetail .blog-profilePic img{
    margin-top:1rem;
    width:80px;
    height:80px;
    border-radius:50%;
    border:1px solid white;
}

.Blog-info .Blog-Image{
    display:flex;
    justify-content:center;
}

.Blog-info .Blog-Image img{
    margin-top:2rem;
    width:550px;
    height:400px;
    border-radius:10px;
    border:5px solid white;
}

.Blog-info .blog-description{
    margin-top:1.5rem;
    display:flex;
    justify-content:center;
    width:100%;
}

.blog-description .markdown{
    width:50%;
    text-align:justify;
    line-height:1.8;
    word-spacing:1px;
    margin-bottom:5rem;
}

.markdown h1,
.markdown h2,
.markdown h3{
    margin:1.8rem 0 0.8rem;
    font-weight:800;
}

.markdown p{
    margin-bottom:1rem;
    font-family: regular;
}

.markdown ul,
.markdown ol{
    margin-left:1.5rem;
    margin-bottom:1rem;
}

.markdown a{
    color:#2563eb;
    text-decoration:underline;
}

.markdown pre{
    background:#111;
    color:#fff;
    padding:1rem;
    border-radius:8px;
    overflow-x:auto;
    margin-bottom:1rem;
}

.markdown code{
    background:#f3f4f6;
    padding:2px 6px;
    border-radius:4px;
}

@media (max-width:900px){
    .BLogDetail .blog-title h1{
        font-size:1.6rem;
        width:85%;
    }

    .Blog-info .Blog-Image img{
        width:90%;
        height:250px;
    }

    .blog-description .markdown{
        width:85%;
        text-align:left;
    }
}
