.register-container {
  height: 100vh;
  width: 100%;
  background: rgb(195, 195, 195);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.register-card {
  background: rgb(45, 44, 44);
  width: 420px;
  padding: 35px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #fff;
}

.register-card h2 {
  text-align: center;
  margin: 0;
  font-size: 28px;
  font-weight: 600;
}

.input-group {
  position: relative;
}

.input-field {
  width: 100%;
  padding: 14px;
  padding-left: 45px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  color: black;
  transition: 0.3s;
}

.input-field:focus {
  background: rgba(255, 255, 255, 0.3);
}
.subtitle {
  text-align: center;
  font-size: 15px;
  opacity: 0.8;
  margin-top: -15px;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 14px;
  font-size: 18px;
  opacity: 0.8;
  color: white;
}

/* Checkbox Row */
.checkbox-row {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.checkbox-row input {
  width: 18px;
  height: 18px;
}

/* Button */
.register-btn {
  padding: 14px;
  width: 100%;
  font-size: 17px;
  font-weight: 600;
  background: #fff;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.register-btn:hover {
  background: #e8e8e8;
}

/* Bottom Text */
.login-text {
  text-align: center;
  font-size: 14px;
  opacity: 0.9;
}

.login-text .Link-section {
  color: rgb(67, 67, 210);
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
/* Gender Section */
.gender-row {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: -10px;
}

.gender-label {
  font-size: 15px;
  opacity: 0.9;
}

.gender-options {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* Custom Radio Styling */
.gender-options input[type="radio"] {
  width: 18px;
  height: 18px;
  accent-color: #ffffff; /* White radio circle */
  cursor: pointer;
}

.gender-options label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  cursor: pointer;
  opacity: 0.9;
}

.gender-options label:hover {
  opacity: 1;
}
